
.header1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background-color: #1B1F3A;
  z-index: 1000;
}
.container1 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}

.logo1 {
    margin-left: 41.875%;
    margin-top: 10px;
    font-size: 96px;
    font-family: Love Ya Like A Sister;
    font-weight: 400;
    color: white;
}
.login-link1{
    text-decoration:none;
    color: white;
    margin-right: 2.5%;
    font-size: 20px;
    font-family: Alike;
}
.navigation{
    background-color: #1B1F3A;
    height: 84px;
}
.navigation1{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 181px;
    margin-right: 150px;
    font-size: 36px;
    font-family: Alike;
    padding-top: 16px;
}
.nav {
    text-decoration: none;
    color: white;
}
.main{
    width: 100%;
    height: 1500px;
}
.main1{
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-left: 117px;
    align-items:center;
    gap: 135px;
    height: 625px;
    width: auto;
    
}

.poster{
    width: 320px;
    height: 525px;
}
.film-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.film-item img { 
  max-height: 525px;
  width: 320px;
}

.film-caption {
    margin-top: 7px;
    font-size: 32px;
    color: black;
    font-family: Alike;
    align-items: flex-end;
    width: 320px;
    line-height: normal;

}
.film-caption2 {
    font-size: 12px;
    color: black;
    font-family: Alike;
}

.footer {
    height: 381px;
    background-color: #1B1F3A;
}
.group {
    position: absolute;
    width: 100%;
    height: 249px;
    background-color: #1b1f3a;
    margin-top: auto; 
  }
  
  
  .element-svinkino {
    position: absolute;
    top: 194px;
    left: 1691px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .union {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 41px;
    left: 184px;
  }
  
  .union-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 86px;
    left: 184px;
  }
  
  .union-3 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 131px;
    left: 184px;
  }
  
  .union-4 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 176px;
    left: 184px;
  }
  
  .text-wrapper-9 {
    position: absolute;
    top: 44px;
    left: 229px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-10 {
    position: absolute;
    top: 89px;
    left: 229px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-11 {
    position: absolute;
    top: 134px;
    left: 229px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-12 {
    position: absolute;
    top: 179px;
    left: 229px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .svinkino {
    position: absolute;
    top: 72px;
    left: 486px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .element {
    position: absolute;
    top: 72px;
    left: 940px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-13 {
    top: 72px;
    left: 1210px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-14 {
    top: 72px;
    left: 1491px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-15 {
    top: 41px;
    left: 486px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-16 {
    top: 41px;
    left: 940px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-17 {
    top: 41px;
    left: 1210px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-18 {
    top: 41px;
    left: 1492px;
    font-family: "Alike-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }