@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
a {
  text-decoration: none;
}
body {
  
  background-color: white;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden; 
}
p {
    margin: 0;
    padding: 0;
}
img {
  cursor: pointer;
}
.header1 a,
.header1 a:visited,
.header1 a:active,
.header1 a:focus {
  text-decoration: none;  
  background: none;       
  border: none;           
  box-shadow: none;       
  color: #ffffff8f;            
  outline: none;          
}
.header1 a:hover {
  color: #fff; 
}
.header1 a:active {
  color: #ffffffb7; 
}

.logo1 a,
.logo1 a:visited,
.logo1 a:hover,
.logo1 a:active,
.logo1 a:focus {
  text-decoration: none;  
  background: none;       
  border: none;           
  box-shadow: none;       
  color: #fff;            
  outline: none;          
}
.footer {
  height: 253px;
  background-color: #1B1F3A;
}
